
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
  background: #1CD8D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CD8D2, #93EDC7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(147, 237, 199, 0.85)  , rgba(28, 216, 210, 0.85)),
    url("https://images.unsplash.com/photo-1604791292049-377212f38c41?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}

h1{

font-style: bold;
font-size: 60px;
color: white;

}

p{
  font-size: 40px;
  color: white;
}
